html {
    padding: 0;
    margin: 2vw;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcfcfc;
}

#library-content {
    margin: 2vw;
}

#new-book-form {
    display: none;
}

button {
    margin-right: 1vw;
}
